# Byte-compiled / cache
__pycache__/
*.py[cod]

# Backup files
*.bak
*.tmp

# Virtual environments
venv/
.env/
.envrc

# Terraform files
*.tfstate
*.tfstate.backup
.terraform/

# Media files
*.mp4
*.zip
*.tar.gz
*.sqlite3
*.log
